.cta {
	padding: 45px 0 25px;
	background: linear-gradient(
		180deg,
		#242b33 10.42%,
		rgba(36, 43, 51, 0) 40.52%,
		#242b33 90.1%
	),
	linear-gradient(0deg, rgba(36, 43, 51, 0.65), rgba(36, 43, 51, 0.75)),
	url('./../img/form/FIX.jpg'), #c4c4c4;
}

.title-3 {
	color: #fff;
	max-width: auto;
	display: flex;
	justify-content: flex-start;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 5px;
}

.cta__wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 17.5px;
}

.cta__text {
	margin-right: 157.5781px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin-bottom: auto;
	font-family: 'Raleway';
}

.cta__form {
}

/* Форма */

.form {
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
	margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
	font-family: 'Raleway';
  transition: background-color 0.2s ease-in;
	border-radius: 5px;

	&::placeholder {
		color: #bebebe;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.25);
}

}

.form__privacy {
  font-size: 13.5px;
  color: #E7E7E7;
  text-align: left;
  line-height: 15px;
	font-family: 'Raleway';
	margin-right: auto;
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 20.5px;
  color: #fff;
  font-weight: 700;
  text-align: center;
	font-family: 'Raleway';
	background-color: #d4c17f;
  transition: background-color 0.2s ease-in;
	margin-left: 73.25%;
	border-radius: 5px;
}

@media (max-width: 1200px) {

	.cta__wrapper {
		gap: 25px;
	}
	.cta__text {
		margin-right: auto;
	}
}

@media (max-width: 470px) {
	.form__btn {
		margin-top: 15px;
		margin-left: auto;
	}

	.cta {
		background: linear-gradient(
			180deg,
			#242b33 10.42%,
			rgba(36, 43, 51, 0) 40.52%,
			#242b33 90.1%
		),
		linear-gradient(0deg, rgba(36, 43, 51, 0.65), rgba(36, 43, 51, 0.75)),
		url('./../img/form/FIXmini.jpg'), #c4c4c4;
	}
}






